body {
    font-family: 'Inter', sans-serif;
    color: #030202;
    background: #F6F6F6;
}

/*input {*/
/*    appearance: none !important;*/
/*    -moz-appearance: none !important;*/
/*    -webkit-appearance: none !important;*/
/*}*/

input[type=text] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.ReactModal__Overlay {
    opacity: 0;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}